<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="f-info-links">
            <a href="#">Terms</a>
            <a href="#">Privacy</a>
            <a href="#">Sitemap</a>
        </div>
        <p>© 2024 Airbnb, Inc. All rights reserved.</p>
    </div>
</footer>